<div class=container>

  <br><br>
  <h2>Bienvenido administrador</h2>
    <ul>
      <li> Universidad Mariano Galvez de Guatemala</li>
      <li> Nombre: Valery Anaytté Cano Ramírez</li> 
      <li> Carné: 3190-18-832</li>
      <li> Desarrollo Web Sección A </li>
    </ul>
<div class="row">
    <div class="col-md-6">
        <canvas baseChart 
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType" > 
      </canvas>
    </div>
    <div class="col-md-6">
      <canvas baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
        [chartType]="lineChartType" > 
    </canvas>
  </div>
</div>


