<div class="container"><br>
    <div class="d-flex justify-content-between align-items-center">
            <h2>Productos</h2>
        <a routerLink="/admin-dashboard/productos/add"> <button class="btn btn-success"><i class="fas fa-plus"></i>  Agregar</button></a>
    </div>
    <br>
    
<div class="row">
<div class="col-md-4" style="margin-bottom:20px" *ngFor="let producto of productos">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            Producto: {{producto.idproductos}}<button class="btn btn-danger" (click)="deleteProducto(producto.idproductos)"><i class="far fa-trash-alt"></i>
            </button>
        </div>
        <div class="card-body">
                <p>Precio Unitario Q{{producto.costounitario}} </p>
                <p>Cantidad en bodega: {{producto.cantidad}}</p>
                <p>Nombre: {{producto.nombre}}</p>
                <p>  {{producto.descripcion}}</p>
                <img style="height: 200px; width: 100%; display: block;" class="card-img-top" [src]="producto.imagen">
                <a [routerLink]="['/admin-dashboard/productos/edit/', producto.idproductos]" class="btn btn-info btn-block"> Modificar </a>
            </div>
        </div>
    </div>
</div>
</div>