<div class="container"><br>
    <h2>Tus pedidos</h2>
    <br>
<div class="row">
    <div class="col-md-4" style="margin-bottom:20px" *ngFor="let pedido of pedidos">
        <div class="card text-left">
            <div class="card-header bg-dark text-white align-items-center">
                Nombre: {{pedido.nombre}}
            </div>
            <div class="card-body">
                <p>Fecha de entrega: {{pedido.fechae}}<p>
                <p>Monto total: {{pedido.descripcion | currency:'GTQ'}}<p>
                    <h6>Productos</h6><hr style="width:100%">
                    <div *ngFor="let producto of pedido.productospedidos">
                        <p>{{producto.pnombre}}   {{producto.pcosto| currency:'GTQ'}}</p>
                        <ul>Cantidad: {{producto.cantidad}} Monto: {{producto.pcostot| currency:'GTQ'}}</ul>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>