
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="#">Pro-Catalog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a *ngIf="loginservice.isNotAdminLoggedIn()" class="nav-link" routerLink="/home"><i class="fas fa-home"></i> Inicio </a>
        </li>
        <li class="nav-item">
          <a *ngIf="loginservice.isNotAdminLoggedIn()" class="nav-link" routerLink="/home/cuenta"><i class="fas fa-user-alt"></i> Cuenta</a>
        </li>
        <li class="nav-item">
          <a *ngIf="loginservice.isNotAdminLoggedIn()" class="nav-link" routerLink="/home/cart"><i class="fas fa-shopping-cart"></i> Carrito</a>
        </li>
        <li class="nav-item">
          <a *ngIf="loginservice.isAdminLoggedIn()" class="nav-link" routerLink="/admin-dashboard"><i class="fas fa-chart-line"></i> Tablero de Administrador</a>
      </li>
        <li class="nav-item">
                <a *ngIf="loginservice.isAdminLoggedIn()" class="nav-link" routerLink="/admin-dashboard/vendedoras"><i class="fas fa-user-alt"></i> Vendedores</a>
        </li>
        <li class="nav-item">
            <a *ngIf="loginservice.isAdminLoggedIn()" class="nav-link" routerLink="/admin-dashboard/productos"><i class="fas fa-poduct-hunt"></i> Productos</a>
        </li>
        <li class="nav-item">
            <a *ngIf="loginservice.isUserLoggedIn()" class="nav-link" routerLink="/logout">Cerrar sesión</a>
          </li>
          <li class="nav-item">
                <a *ngIf="loginservice.isNobodyLoggedIn()" class="nav-link" routerLink="/login">Iniciar sesión</a>
              </li>
      </ul>
    </div>
  </nav>
