<div class="container"><br>
    
  <h1>Productos Disponibles</h1><br>

  <div class="row" >
      <div class="col-md-4" style="margin-bottom:20px" *ngFor="let producto of productos">
          <div class="card text-center">
              <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                  Producto: {{producto.nombre}} 
              </div>
              <div class="card-body">
                  <h5 class="card-subtitle text muted"> {{producto.costounitario| currency:'GTQ'}} - {{producto.cantidad}} disponibles</h5>
              </div>
              <img style="height: 200px; width: 100%; display: block;" class="card-img-top" [src]="producto.imagen">
              <div class="card-body">
                      <p>  {{producto.descripcion}}</p>
                      <a class="text-white"><button class="btn btn-info btn-block" onclick="this.blur();" (click)="agregarCarrito(producto.idproductos)"> Agregar al  <i class="fas fa-shopping-cart"></i> </button></a>
              </div>
          </div>
      </div>
    </div>
</div>  
